################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/InputValidationHW/.vs/InputValidationHW/v16
/InputValidationHW/InputValidationHW/obj/Debug
